extends layout_with_header

block content
  .body-container
    h3.primary-text Last Updated
    .body-container-contents
      p= lastUpdated

  .body-container
    h3.primary-text Anime List
    .body-container-contents
      .highlight-text
        each item in animes
          if (!item.noResults)
            li=item.title
          else 
            li.error-text #{item.title} [NO RESULTS]
      button(onclick="onUpdateButtonClick()") Update