extends layout_with_header

block content
  .body-container
    h3.primary-text Custom List Setup
    .body-container-contents
      p In addition to the default "Watching" list, you can add a custom list named "APS-Request" to your AniList account which this server will also download.
      img(src="images/aps-request-setup.png" class="img-size-parent")
