extends layout

block header
  .header-strip
    .header-navbar-left
      a.logo(href="/") 
        span.anilist-link A
        span.plex-link P
        span(style={color: 'white'}) S
      h1= title
    .header-navbar-right
      a(href="/users") Users
      a(href="/animes") Animes
