doctype html
html
  head
    title= title
    script(src="/javascripts/user.js")
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Heebo:900&display=swap" rel="stylesheet")

  body
    block header
    block content
