html
  head
    title="User - Xaieon"
    script(src="/javascripts/user.js")
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
  body
    .header-strip
      h1="All Users"
    
    .body-container
      .highlight-text
        each item in users
          li=item.username
          button(onclick="onGenericButtonClick(\"/removeuser/" + item.username + "\")") Remove